.single-event,
.event-archive {
	.entry-title {
		background: $yellow;
		&:before {
			border-left: 9999px solid $yellow;
			box-shadow: 9999px 0 0 $yellow;
		}
	}
	.primary a {
		color: $purple;
	}
}
.event-meta {
	background: #e2e4e0;
	padding: 0.5em 1em;
	font-size: 0.875em;
	a {
		color: darken($text, 20%);
		text-decoration: underline;
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li {
		text-align: center;
	}
	h4 {
		margin: 0 0 0.25em;
	}
}
.side-category {
	padding-top: 0;
}
.event-list-archive {
	text-align: center;
	h4 {
		margin: 0 0 0.25em;
	}
	a {
		color: $yellow;
	}
}
.venue-header,
.event-header {
	margin: 0 1em 1em;
	padding: 0 0 1em;
	border-bottom: 0.5em solid #e2e4e0;
}
#nav-below {
	padding: 1em 0;
	.nav-next {
		float: right;
	}
	.nav-previous {
		float: left;
	}
	.events-nav-newer {
		a {
			color: $yellow;
		}
	}
}
.entry-excerpt {
   font-size: 0.8em;
   margin-top: 0.875em;
   hr {
   	width: 3em;
   }
   a {
   	color: $purple;
   	font-weight: 700;
   }
}
.event-list {
	li {
		background: #f2f2f2;
		padding: 1em;
		position: relative;
	}
	h4 {
		margin: 0.5em;
	}
	img {
		margin-bottom: 0.5em;
	}
}
.single-event-container {
	background: white;
	.side-event-desc {
		/*border-radius: 0.5em;*/
		background: $yellow;
		padding: 1em;
		margin-top: 2.15em;
		color: white;
		margin-bottom: 0.875em;
		@include bp(44) {
			padding: 1em 1em 2em;
		}
		h2,
		a {
			color: $white;
		}
		a {
			padding-bottom: 0;
		}
		h2 {
			margin-bottom: 0.5em;
		}
	}
	.btn {
		background: $purple;
		max-width: 10em !important;
	}
	.event-time {
		background-color: $purple;
		color: #fff;
		padding: 0.5em 1em;
		font-size: 0.9em;
	}
	.entry-content {
		> img {
			display: none;
			@include bp(44) {
				display: block;
			}
		}
	}
	.event-meta {
		background: transparent;
	}
	.back {
		font-weight: 700;
		color: $yellow;
		font-size: 0.9em;
		text-align: right;
		display: block;
	}
	.primary {
		h1 {
			display: none;
			@include bp(44) {
				display: block;
			}
		}
		a {
			color: white;
		}
		p > a {
			color: darken($purple,5%);
		}
	}
}
.event-detail-desktop {
	display: none;
	margin-bottom: 1em;
	h1 {
		display: none;
	}
	@include bp(44) {
		display: block;
		h1 {
			display: block;
		}
	}
}
.event-detail-mobile {
	display: block;
	overflow: hidden;
	@include bp(44) {
		display: none;
	}
	> img {
		display: block;
	}
	.entry-title {
		margin-bottom: 0;
	}
	.sidebar {
		padding: 1em 1em 0;
		font-size: 1.15em;
	}
	h1 {
		padding: 0.5em;
		margin-bottom: 0.875em;
	}
	h2 {
		margin-bottom: 0;
	}
	.event-meta {
		li {
			margin: 0;
		}
		a {
			padding-bottom: 0;
		}
	}
	.side-event-desc {
		margin-top: 0;
	}
}
.event-detail-bottom {
	margin-bottom: 2em;
}
.full-event-info {
	background: darken(white, 3%);
	@include bp(44) {
		margin: 2.2em auto 2em;
	}
	p {
		margin-top: 0.5em;
		&:last-of-type {
			margin-bottom: 0;
		}
	}
	h2 {
		display: none;
		background-color: $purple;
		color: white;
		text-align: left;
		padding: 0.5em;
		margin: 0;
		@include bp(44) {
			display: block;
		}
	}
	> ul {
		list-style: none;
		padding: 0;
		margin: 0;
		font-size: 0.875em;
		> li {
			padding: 1em;
			background-color: darken(white,5%);
			&:nth-child(even) {
				background-color: darken(white,12.5%);
			}
		}
	}
	a {
		color: darken($purple,5%);
		text-align: right;
		font-weight: 700;
		text-decoration: underline;
		text-transform: none;
	}
	.event-meta {
		padding: 0;
		h4 {
			text-transform: uppercase;
		}
		> li {
			background-color: darken(white,5%);
			&:nth-child(even) {
				background-color: darken(white,12.5%);
			}
		}
		li {
			text-align: left;
		}
	}
	.eo-upcoming-dates-show-more {
		color: $purple;
		text-align: right;
		font-weight: 700;
		text-transform: uppercase;
		font-size: 0.875em;
	}
	.eo-upcoming-dates {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	strong {
		display: block;
		text-transform: uppercase;
	}
}
