.service-event {
	padding: 1.5em;
	.no-results {
		padding-bottom: 2em;
	}
	.service-breadcrumb {
		padding: 0 0 1em;
	    margin-top: -0.5em;
	}
}
.service-container {
	.serve-banner .entry-title {
		top: 20%;
	}
}
.service-contact {
	p {
		font-size: 0.8em;
		font-style: italic;
		text-align: center;
	}
	a {
		color: darken($purple, 10%);
	}
}
.featured-post-banner {
	background-color: $purple;
	color: #fff;
	padding: 1.5em 1em;
	h2 {
		margin: 0;
	}
}
.serve-banner {
	p {
		position: absolute;
		top: 52.5%;
		left: 50%;
		transform: translate(-50%,-50%);
		color: #fff;
		width: 100%;
		text-align: center;
	}
}
.service-breadcrumb {
	text-align: left;
	display: block;
	padding: 1em 0 0 0.75em;
	margin-bottom: -1.25em;
	a {
		font-size: 0.75em;
		color: $text;
	}
	.icon {
		vertical-align: middle;
		margin-top: -0.2em;
		font-size: 1.5em;
	}
}
.service-nav {
	position: relative;
	margin: 1.5em auto;
}
.service-search-bar {
	font-weight: bold;
	text-transform: lowercase;
	font-family: "adelle",serif;
	color: #fff;
    display: block;
    background: transparent;
	border: 0.15em solid $off-white;
    padding: 0;
    border-radius: 0.25em;
    font-size: 0.875em;
	position: relative;
	text-align: right;
	margin-bottom: 1em;
	@include bp(44) {
		position: absolute;
	    right: 0;
	    top: 0;
	}
	form {
		width: 100%;
	}
	label {
		margin-right: 0.5em;
		width: 20%;
	}
	input {
		font-weight: bold;
		text-transform: lowercase;
		font-family: "adelle",serif;
		border: none;
		border-radius: 0em;
		padding: 0.25em;
		width: 100%;
		background-color: transparent;
		color: $off-white;
		&:focus {
			outline: none;
		}
		@include bp(44) {
			width: 16em;
		}
		@include bp(62.5) {
			width: 20em;
		}
		&[type="text"] {
			padding: 1em;
		}
		&[type="checkbox"] {
			display: none;
		}
		&[type="submit"] {
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			width: 6em;
			font-size: 0.875em;
			padding: 0.5em;
			background-color: $off-white;
			color: #fff;
		}
	}
}
.service-cat {
	display: block;
    position: relative;
    margin-bottom: 1em;
	@include bp(44) {
		display: inline-block;
		margin: 0;
	}
	.btn {
		width: auto;
		display: block;
		background-color: $purple;
		border: 1px solid $purple;
		color: #fff;
		box-shadow: none;
		padding: 0.75em 2em;
		text-align: center;
		transition: all 250ms ease-in-out;
		&:focus {
			outline: none;
		}
		&:hover {
			background-color: #fff;
			border-color: $off-white;
			color: $text;
		}
	}
	img {
		margin-bottom: -0.5em;
		margin-right: 0.75em;
		max-width: 1.5em;
	}
	.icon {
		font-size: 1.25em;
		margin-left: 0.25em;
		vertical-align: middle;
		margin-top: -0.5em;
		margin-right: -0.25em;
		&.icon-caret-up {
			display: none;
			margin-top: 0;
		}
	}
	ul {
		display: none;
		list-style: none;
		padding: 0;
		margin: 0;
		background: #fff;
		position: absolute;
		top: 100%;
		width: 100%;
		z-index: 1;
		border: 1px solid $off-white;
		border-top: none;
		border-bottom-left-radius: 0.25em;
		border-bottom-right-radius: 0.25em;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
		z-index: 100;
	}
	li {
		border-bottom: 1px solid $off-white;
		transition: all 250ms ease-in-out;
		&:last-child {
			border-bottom: none;
		}
		&:hover {
			background-color: $purple;
			color: #fff;
			border-color: $purple;
			a,
			.icon {
				color: #fff;
			}
		}
		a {
			display: block;
			color: $text;
			font-size: 0.875em;
			padding: 0.75em 1.25em;
		}
		.icon {
			vertical-align: middle;
			margin: 0 0.5em 0 0;
			text-align: right;
			color: $text;
			font-size: 1.5em;
		}
	}
	&.show {
		ul {
			display: block;
		}
		.btn {
			background-color: #fff;
			border: 1px solid $off-white;
			color: $text;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
		}
		.icon-sort-desc {
			display: none;
		}
		.icon-caret-up {
			display: inline-block;
		}
	}
}
.more-info-container {
	border-top: 0.25em solid $yellow;
	padding: 2em 0 0;
	margin-top: 1.5em;
	div {
		padding: 1em 2em;
		margin: 0 auto;
		border-radius: 0.25em;
		text-align: center;
		background-color: $yellow;
	}
	h2 {
		font-family: "adelle",serif;
		text-transform: none;
		color: #fff;
		margin-bottom: 0.5em;
	}
	p {
		color: #fff;
		font-size: 0.9em;
		margin: 0 auto 1.5em;
	}
	.btn {
		max-width: 10em !important;
		width: 100%;
		margin: 0 auto 1em;
		padding: 0.5em 1.5em;
		text-align: center;
		display: inline-block;
		background-color: darken($purple, 10%);
	}
	.serve {
		margin-bottom: 1em;
		@include bp(44) {
			margin-bottom: 0;
		}
	}
	.attend {
	}
}
.contact-form-container {
	background-color: rgba(0,0,0,0.5);
	height: 100vh;
	width: 100%;
	position: fixed;
	margin: 0 auto;
	z-index: 100;
	display: none;
	&.show {
		display: block;
	}
}
.serve-contact-form {
	position: absolute;
	top: 45%;
	left: 50%;
	width: 90%;
	max-width: 36em;
	transform: translate(-50%,-50%);
	background-color: #e7e7e7;
	padding: 2.5em;
	border-radius: 0.5em;
	@include bp(44) {
		width: 100%;
	}
	.icon-close {
		position: absolute;
		top: 1em;
		right: 1em;
		color: $text;
		cursor: pointer;
		font-size: 1.25em;
	}
	h2 {
		margin: 0 auto 0.5em;
		line-height: 1.25;
	}
	p {
		margin-top: 0 0 1em;
		font-size: 0.875em;
	}
	.gform_wrapper {
		margin: 0 auto;
		ul.gform_fields {
			list-style: none;
			padding: 0;
			margin: 0;
		}
		li.gfield {
			padding-right: 0 !important;
			border: none !important;
			background-color: transparent !important;
			padding: 0 !important;
		}
		.full_name_field {
			.name_first,
			.name_last {
				@include bp(44) {
					float: left;
					width: 49%;
					margin: 0;
					padding-right: 0;
				}
			}
			.name_first {
				@include bp(44) {
					margin-right: 2%;
				}
			}
		}
		.ginput_container {
			width: 95% !important;
			margin: 0 !important;
		}
		.field_sublabel_below {
			clear: none !important;
			margin-top: 0 !important;
			label {
				display: none !important;
			}
			input {
				padding: 0.5em 1em !important;
				font-size: 0.875em !important;
				border: none;
				width: 100% !important;
				display: block;
				margin-bottom: 1.5em;
			}
		}
		.gform_footer {
			padding: 0 !important;
			margin: 0 !important;
		}
		input[type="submit"] {
			margin: 2em auto 0.5em !important;
			background-color: $purple;
			color: #fff;
			max-width: 10em;
			width: 100% !important;
			border-radius: 0.25em;
			display: block !important;
			position: relative;
			border: none !important;
			padding: 0.5em 1em;
			font-size: 0.9375em !important;
			font-weight: bold;
			text-transform: lowercase;
			font-family: "adelle",serif;
			box-shadow: 0.1em 0.1em 0.25em 0 #333;
			transition: all 250ms ease-in-out;
			&:hover {
				background-color: darken($purple, 10%);
				color: #fff;
			}
		}
		div.validation_error {
			border: none !important;
			padding: 0 0 1em;
			margin: 0;
			color: $teal;
		}
		div.validation_message {
			padding: 0 0 1em !important;
			color: $teal;
		}
		.instruction.validation_message {
			padding-bottom: 0 !important;
		}
	}
}
.feature-banner {
	position: relative;
	max-height: 250px;
	overflow: hidden;
	.entry-title {
		background: transparent;
		position: absolute;
		top: 20%;
		right: 0;
		left: 0;
		text-align: center;
		font-size: 1.5em;
		&:before {
			display: none;
		}
		@include bp(30) {
			top: 30%;
			font-size: 2em;
		}
		@include bp(44) {
			font-size: 2.5em;
		}
	}
}
.serve-title {
	h2,
	h3,
	h4 {
		margin-bottom: 0.15em;
	}
	.event-time {
		margin-bottom: 1.5em;
		font-size: 0.8em;
		font-style: italic;
		color: $text;
	}
}
.serve-feature {
	padding-top: 0;
	.event-time {
		margin-bottom: 0;
	}
}
.featured-post,
.two-featured-post,
.three-featured-post {
	background-color: $white;
	padding: 0;
	margin: 0;
	img {
		display: block;
	}
	> h2 {
		margin-top: 0;
		text-align: center;
	}
	h2 {
		font-size: 1.875em;
	}
	h2,
	h3,
	p {
		color: $text,
	}
	p {
		font-size: 0.875em;
	}
	hr {
		height: 1px;
		background-color: lighten($text, 50%);
		opacity: 0.5;
		border-style: none;
	}
	.btn {
		color: #fff;
		background-color: $purple;
		width: 10em;
		font-size: 1em;
		text-align: center;
		margin-top: 1.25em;
	}
	.entry-excerpt {
		font-size: 1em;
		@include bp(50) {
			font-size: 0.9em;
		}
	}
	li {
		position: relative;
		padding: 0;
	}
	.type-icon {
		float: left;
		img {
			display: inline-block;
		}
	}
}
.featured-post {
	padding: 1em;
	.half {
		position: relative;
	}
	hr {
		width: 5em;
		margin: 1em 0;
	}
	p {
		font-size: 1em;
		@include bp(50) {
			font-size: 0.9em;
		}
	}
	.last {
		margin-bottom: 0;
	}
	.type-icon {
		bottom: -2.75em;
		left: 0;
		padding-left: 0;
	}
}
.two-featured-post,
.three-featured-post {
	h3 {
		margin-bottom: 0;
	}
	span {
		font-size: 0.8em;
		font-style: italic;
	}
}
.two-featured-post {
	li {
		margin-bottom: 2em;
		&:last-child {
			margin-bottom: 0;
		}
		@include bp(44) {
			margin: 0 0 1em 0;
			padding: 1em 1em 3em;
			width: 50%;
			&:nth-child(1) {
				border-right: 1px solid rgba(192, 192, 192, 0.5);
				padding-right: 2.5%;
			}
			&:nth-child(2) {
				padding-left: 2.5%;
			}
		}
	}
	hr {
		width: 75%;
		margin: 1em auto 0;
	}
	.btn {
		font-size: 0.875em;
		margin: 0 auto;
	}
}
.three-featured-post {
	li {
		background-color: $white;
		@include bp(44) {
			border-right: 1px solid rgba(192, 192, 192, 0.5);
			width: 33.333%;
			margin: 0;
			padding: 1em 1em 3em;
			&:last-child {
				margin: 0;
				border: none;
			}
		}
	}
	.btn {
		margin: 1em auto;
		font-size: 1em;
	}
}
.type-icon {
    text-align: left;
    padding-top: 1em;
    padding-left: 0.5em;
	position: absolute;
	bottom: 0.5em;
	left: 0.5em;
	img {
		margin-bottom: 0;
		max-width: 1.25em;
		max-height: 1.25em;
		margin-right: 0.5em;
	}
}
.service-post-nav {
	display: block;
	margin: 0 auto 1em;
	text-align: right;
	a {
		color: $text;
		border-radius: 0.25em;
		font-size: 0.875em;
		text-decoration: underline;
		&:first-of-type {
			margin-right: 1em;
		}
	}
	.icon {
		vertical-align: middle;
		margin-top: -0.05em;
	}
}
