.sub-nav {
	background: #e2e4e0;
	padding: 1.5em 1em 0 1em;
	img {
		display: block;
		margin: 0 auto;
		max-width: 3.5em;
	}
	li {
		text-align: center;
		font-size: 0.875em;
	}
	h4 {
		margin: 0.5em 0;
	}
	p {
		margin: 0 0 1em;
	}
	a {
		text-transform: uppercase;
	}
}