$back-bottom: #cac9c3;
$back-top: #dbdad5;
$text: #404040;
$off-white: #d1d0cb;
$white: #f2f2ec;
//$teal: #467a7f;
$teal: #EA4D5B;
//$purple: #9e88a2;
$purple: #76CBCD;
//$yellow: #dda427;
$yellow: #635860;
//$green: #9dcb5a;
$green: #B6D233;
$brown: #3d3d35;
$tan: #adaca1;
$heading: #221e1c;